/* global */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 24px;
  letter-spacing: 2%;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

nav a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

nav ul {
  gap: 40px;
}

h2 {
  margin-bottom: 72px;
}

h3 {
  color: #2e2f42;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 16px;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.nav {
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  padding: 24px 0;
  display: block;
}

.studio-link {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-list:hover {
  color: #404bbf;
}

.nav-list:focus {
  color: #404bbf;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.nav-menu {
  display: flex;
  gap: 40px;
}
address {
  font-size: 16px;
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

/* hero section */

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 45px;
}

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container {
  text-align: center;
}

.hero-section-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-button:hover {
  background-color: #404bbf;
}

.hero-section-button:focus {
  background-color: #404bbf;
}

/* about section */

.about-card {
  display: flex;
  gap: 24px;
}

.about-list {
  flex-basis: calc((100% - 72px) / 4);
}

.about-section h3 {
  margin-bottom: 8px;
}

.about-section p {
  width: 264px;
}

.about-section {
  padding: 120px 0;
}

.about-card {
  display: flex;
  gap: 24px;
}

.about-list {
  flex-basis: calc((100% - 72px) / 4);
}

.about-section h3 {
  margin-bottom: 8px;
}

.about-section p {
  width: 264px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

/* team section */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-section .description {
  text-align: center;
}
.team-section h3 {
  text-align: center;
}
.team-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  gap: 8px;
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-list .link {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #404bbf;
}

.social-link:focus {
  background-color: #404bbf;
}
.team-socials-svg {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

/* portfolio section */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  overflow: hidden;
}

.project-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list:hover .overlay-text {
  transform: translateY(0%);
}

.project-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.project-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-list .description:hover {
  transform: translateY(0%);
}

/* footer */

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  display: block;
}

.footer-description {
  width: 264px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer span {
  color: #f4f4fd;
}

.footer-description {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-right: 120px;
}

.footer .socials-list {
  gap: 16px;
}

.socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.socials-text:hover {
  transform: translateY(0%);
}

.footer .social-link:hover {
  background-color: #31d0aa;
}

.footer .social-link:focus {
  background-color: #31d0aa;
}

.footer-btn-svg {
  width: 24px;
  height: 24px;
}

.footer-input-container {
  margin-left: 80px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-input-svg {
  margin-left: 16px;
}
/* other */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* modal */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  z-index: 999;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover {
  background-color: #404bbf;
  border: none;
}

.modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-close:hover .close-icon {
  fill: #ffffff;
}

.modal-btn-close:focus .close-icon {
  fill: #ffffff;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-container {
  margin-bottom: 8px;
}

.modal-input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus .modal-input-icon,
.input-container:focus-within .modal-input-icon {
  fill: #4d5ae5;
}

.textarea-container {
  margin-bottom: 16px;
}

.modal-textaerea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textaerea:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
  position: relative;
}

.checkbox-user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-container input[type="checkbox"]:checked + label .label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-icon {
  width: 10px;
  height: 8px;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

/* mobile */

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }

  .mobile-hero-btn{
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  .container {
    max-width: 320px;
    width: auto;
  }

  .logo {
    padding: 16px 0;
    margin-right: 150px;
  }

  .mobile-hero-btn{
    background-color: transparent;
    border: none;
  }
  .nav-menu {
    display: none;
  }
  .nav-address {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #fff;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: transform;
    transform: translateX(100%);
  }

  .mobile-menu.is-open {
    transform: translateX(0);
  }

  .mobile-menu-nav {
    flex-grow: 1;
    flex-direction: column;
  }

  .mobile-menu-contacts {
    flex-direction: column;
  }

  .mobile-menu-nav li:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 28px;
    min-height: 28px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .mobile-menu .mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
  }

  .mobile-menu-btn .mobile-menu-icon {
    fill: currentColor;
  }

  .mobile-menu-btn:active {
    background-color: #404bbf;
    border: none;
  }

  .mobile-menu-btn:active .mobile-menu-icon {
    fill: #fff;
  }

  .mobile-menu-nav a {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: #2e2f42;
  }

  .mobile-menu-link.active {
    color: #404bbf;
  }

  .mobile-menu-contacts .mobile-menu-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #434455;
  }

  .mobile-menu-contacts .mobile-menu-link:not(:last-child) {
    margin-bottom: 24px;
  }

  .mobile-socials-list {
    display: flex;
    margin-top: 48px;
    gap: 40px;
  }

  .mobile-icons-list {
    width: 40px;
    height: 40px;
  }

  .mobile-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-social-link:active {
    background-color: #404bbf;
  }

  .mobile-socials-svg {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
  }
  .about-card,
  .team-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.1;
  }
  .portfolio-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .project-list {
    width: 100%;
  }
  .about-section,
  .team-section,
  .portfolio-section {
    padding: 96px 0;
    gap: 72px;
  }

  .about-list .icon {
    display: none;
  }

  .about-list {
    font-weight: 500;
  }

  .about-card .section-subtitle {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
  }

  .about-card .description {
    font-size: 16px;
  }

  .portfolio-list img {
    width: 100%;
  }

  .footer {
    padding: 96px 0;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-content,
  .footer-socials,
  .footer-input-container {
    margin: 0 auto;
    text-align: center;
  }

  .footer-content,
  .footer-socials {
    margin-bottom: 72px;
  }

  .subscribe-form {
    flex-direction: column;
    align-items: center;
  }

  .modal {
    width: 288px;
    min-height: 623px;
    margin: 8px 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu {
    display: none;
  }

  .container {
    width: 768px;
  }

  .logo {
    margin-right: 120px;
  }

  .about-list {
    flex-basis: calc((100% - 24px) / 2);
  }

  .about-list .icon {
    display: none;
  }

  .about-card {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .about-card .section-subtitle {
    font-size: 36px;
    font-weight: 700;
  }

  .about-card .description {
    font-size: 16px;
    font-weight: 500;
  }

  .team-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-list {
    flex: 1 1 calc(50% - 20px);
  }

  .portfolio-list {
    gap: 72px 24px;
  }
  .team-list {
    gap: 64px 24px;
  }

  .about-section,
  .team-section,
  .portfolio-section {
    padding: 96px 0;
    gap: 72px;
  }

  .portfolio-list img {
    width: 100%;
  }

  .footer .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 108px;
  }

  .footer-description,
  .footer-socials {
    margin-bottom: 72px;
  }
  .footer-input-container {
    margin: 0;
  }
  .address-list {
    flex-direction: column;
    gap: 12px;
  }

  .nav-link {
    font-size: 16px;
  }

  .address-link {
    font-size: 12px;
  }

  .footer-content {
    margin-right: 24px;
  }
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7) url(../images/bg-image-2x.jpg);
  }
}
